In [23]:
import os
import pandas as pd
os.listdir()

['.ipynb_checkpoints',
 'clean_actor_attributes.ipynb',
 'clean_movie_attributes.ipynb',
 'name_basics_cleaned.tsv',
 'name_basics_full.tsv',
 'title_akas_full.tsv',
 'title_basics_cleaned.tsv',
 'title_basics_cleaned2.tsv',
 'title_basics_full.tsv',
 'title_episode_full.tsv',
 'title_principals_full.tsv',
 'title_ratings_full.tsv']

In [48]:
df = pd.read_csv("name_basics_full.tsv", sep = '\t')

In [49]:
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"

In [50]:
print(len(df))

9732109

In [51]:
df.head(20)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0059956,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038787,tt0077711,tt0036855,tt0038109"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0034583,tt0033870,tt0043265,tt0037382"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0070849,tt0068646,tt0044081"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,soundtrack","tt0061184,tt0059749,tt0057877,tt0087803"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0031867,tt0035575,tt0029870,tt0042041"
10,nm0000011,Gary Cooper,1901,1961,"actor,soundtrack,producer","tt0027996,tt0044706,tt0035896,tt0034167"
11,nm0000012,Bette Davis,1908,1989,"actress,soundtrack,make_up_department","tt0056687,tt0042192,tt0035140,tt0031210"
12,nm0000013,Doris Day,1922,2019,"soundtrack,actress,producer","tt0053172,tt0060463,tt0055100,tt0048317"
13,nm0000014,Olivia de Havilland,1916,\N,"actress,soundtrack","tt0041452,tt0040806,tt0031381,tt0029843"
14,nm0000015,James Dean,1931,1955,"actor,miscellaneous","tt0048545,tt0049261,tt0044245,tt0048028"
15,nm0000016,Georges Delerue,1925,1992,"composer,soundtrack,music_department","tt0057345,tt0091763,tt0069946,tt0096320"
16,nm0000017,Marlene Dietrich,1901,1992,"soundtrack,actress,music_department","tt0051201,tt0052311,tt0055031,tt0021156"
17,nm0000018,Kirk Douglas,1916,\N,"actor,producer,soundtrack","tt0080736,tt0052365,tt0054331,tt0043338"
18,nm0000019,Federico Fellini,1920,1993,"writer,director,assistant_director","tt0053779,tt0071129,tt0056801,tt0047528"
19,nm0000020,Henry Fonda,1905,1982,"actor,producer,soundtrack","tt0032551,tt0050083,tt0064116,tt0082846"

In [54]:
df = df.replace('\\N', "Unavailable")

In [53]:
df.head(20)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0043044,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0117057,tt0038355,tt0037382,tt0071877"
2,nm0000003,Brigitte Bardot,1934,Unavailable,"actress,soundtrack,producer","tt0054452,tt0059956,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0072562,tt0080455,tt0078723,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0083922,tt0069467,tt0050986"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,soundtrack,producer","tt0038787,tt0077711,tt0036855,tt0038109"
6,nm0000007,Humphrey Bogart,1899,1957,"actor,soundtrack,producer","tt0034583,tt0033870,tt0043265,tt0037382"
7,nm0000008,Marlon Brando,1924,2004,"actor,soundtrack,director","tt0078788,tt0070849,tt0068646,tt0044081"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,soundtrack","tt0061184,tt0059749,tt0057877,tt0087803"
9,nm0000010,James Cagney,1899,1986,"actor,soundtrack,director","tt0031867,tt0035575,tt0029870,tt0042041"
10,nm0000011,Gary Cooper,1901,1961,"actor,soundtrack,producer","tt0027996,tt0044706,tt0035896,tt0034167"
11,nm0000012,Bette Davis,1908,1989,"actress,soundtrack,make_up_department","tt0056687,tt0042192,tt0035140,tt0031210"
12,nm0000013,Doris Day,1922,2019,"soundtrack,actress,producer","tt0053172,tt0060463,tt0055100,tt0048317"
13,nm0000014,Olivia de Havilland,1916,Unavailable,"actress,soundtrack","tt0041452,tt0040806,tt0031381,tt0029843"
14,nm0000015,James Dean,1931,1955,"actor,miscellaneous","tt0048545,tt0049261,tt0044245,tt0048028"
15,nm0000016,Georges Delerue,1925,1992,"composer,soundtrack,music_department","tt0057345,tt0091763,tt0069946,tt0096320"
16,nm0000017,Marlene Dietrich,1901,1992,"soundtrack,actress,music_department","tt0051201,tt0052311,tt0055031,tt0021156"
17,nm0000018,Kirk Douglas,1916,Unavailable,"actor,producer,soundtrack","tt0080736,tt0052365,tt0054331,tt0043338"
18,nm0000019,Federico Fellini,1920,1993,"writer,director,assistant_director","tt0053779,tt0071129,tt0056801,tt0047528"
19,nm0000020,Henry Fonda,1905,1982,"actor,producer,soundtrack","tt0032551,tt0050083,tt0064116,tt0082846"

In [55]:
indexToDrop = df[ df['birthYear'] == "Unavailable"].index
df.drop(indexToDrop, inplace = True)

In [56]:
len(df)

492086

In [57]:
df.tail()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
9731832,nm9993426,Nick 'Duffy' Fudge,1989,2018,NaN,Unavailable
9731837,nm9993432,Albert Minns,1920,1985,NaN,tt0189339
9731838,nm9993434,Richard Blackmarr,1929,2013,NaN,tt0189339
9731839,nm9993435,William Riva,1919,1999,set_decorator,tt0189339
9731840,nm9993436,Frank J. Gaily,1915,2008,sound_department,tt0189339

In [58]:
df.to_csv("name_basics_cleaned_with_index.tsv", sep = '\t', index = False)

In [59]:
df.to_csv("name_basics_cleaned_no_index.tsv", sep = '|', index = False)

In [39]:
df.tail()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
9731832,nm9993426,Nick 'Duffy' Fudge,1989,2018,NaN,Unavailable
9731837,nm9993432,Albert Minns,1920,1985,NaN,tt0189339
9731838,nm9993434,Richard Blackmarr,1929,2013,NaN,tt0189339
9731839,nm9993435,William Riva,1919,1999,set_decorator,tt0189339
9731840,nm9993436,Frank J. Gaily,1915,2008,sound_department,tt0189339